@import "./variables.scss";
* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

#app {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $title-blue;
}

.subtitle {
  color: $title-blue;
  font-weight: $weight-boldest;
  font-size: $size-big;
}

.fas {
  color: $light-blue;
  font-size: $size-icon;
  cursor: pointer;
}
