//colors
$light-blue: #00bfff;
$title-blue: #1b294b;
$subtitle-blue: #53678c;
$link-blue: #1974d2;

$text-dark-gray: #4a5961;
$text-gray:#77858c;
$light-gray: #c7ced0;
$lightest-gray: #f5f8fa;
$white: #ffffff;

$disabled-background-gray:#e1e4e9;
$disabled-text-gray:#a1a7b6;

//font-weights
$weight-light: 200;
$weight-regular:400;
$weight-bold: 600;
$weight-bolder: 700;

//font-sizes
$size-label: 0.8rem;
$size-regular: 1rem;
$size-icon: 1.2rem;
$size-big: 1.5rem;
$size-bigger: 2rem;

//margins
$spacer-1: 0.1rem;
$spacer-2: 0.3rem;
$spacer-3: 0.5rem;
$spacer-4: 1rem;
$spacer-5: 1.5rem;
$spacer-6: 2rem;
$spacer-7: 2.5rem;

//border-radius
$border-radius-regular: 5px;

//box-shadows
$box-shadow-bottom-subtle: 0px 2px 0px 0px rgba(168, 168, 168, 0.2);
$box-shadow-bottom-hard: 0px 2px 5px 0px rgba(168, 168, 168, 0.6);

