$light-blue: #00bfff;
$title-blue: #1b294b;
$subtitle-blue: #53678c;
$link-blue: #1974d2;


$text-gray:#77858c;
$text-dark-gray: #4a5961;
$light-gray: #c7ced0;
$lightest-gray: #f5f8fa;
$white: #ffffff;

$disabled-background-gray:#e1e4e9;
$disabled-text-gray:#a1a7b6;


